﻿<script type="text/html" id="questioneditor">
    <div id="surveyquestioneditorwindow" class="modal" data-bind="with:koEditor">
        <div  class="modal-dialog">
                <div class="modal-content">
            <div class="modal-body">
               
                <div class="modal-header">
                    <button type="button" class="close" data-bind="click: onResetClick">&times;</button>
                    <h4 class="modal-title" data-bind="text:koTitle"></h4>
                </div>
                <div class="modal-body svd_notopbottompaddings">
                    <!-- ko template: { name: "questioneditor-content", data: $data } -->
                    <!-- /ko -->
                </div>
                <p style="margin-left:20px; margin-bottom:10px"><strong>Add file (.jpeg, .jpg, .gif, .png, .pdf, .xlsx)</strong></p>
                <input type="file"  data-bind=" event: { change:onUpload }" style="color:transparent; margin-left:20px; margin-bottom:20px"/>
               
                 <!-- ko if: koFile -->
                        <!-- ko template: { name: 'question-image', data:koFile} -->
                  <!-- /ko -->
                <!-- /ko -->

         
               
                
                <div class="modal-footer">
                    
                    <input type="button" class="btn btn-primary" data-bind=" click: onDeleteClick, value: $root.getLocString('pe.fdelete')" style="width:100px"
                        />
                    <input type="button" class="btn btn-primary" data-bind="visible: koShowApplyButton, click: onApplyClick, value: $root.getLocString('pe.apply')"
                        style="width:100px" />
                    <input type="button" class="btn btn-default btn-secondary" data-bind="click: onOkClick, value: $root.getLocString('pe.ok')"
                        style="width:100px" />
                    <input type="button" class="btn btn-primary" data-bind="click: onResetClick, value: $root.getLocString('pe.cancel')" style="width:100px"
                    />
                </div>
            </div>
            </div>
        </div>
    </div>
</script>


