<script type="text/html" id="question-image">
              
   <div style="text-align:center; margin-bottom:20px">
    <!-- ko if: $data.split('.').pop() == 'jpeg' -->
    <img width="116px" height="116px" data-bind="attr:{src:$data}" />
    <!-- /ko -->
    <!-- ko if: $data.split('.').pop() == 'jpg' -->
    <img width="116px" height="116px" data-bind="attr:{src:$data}" />
    <!-- /ko -->
    <!-- ko if: $data.split('.').pop() == 'png' -->
    <img width="116px" height="116px" data-bind="attr:{src:$data}" />
    <!-- /ko -->
    <!-- ko if: $data.split('.').pop() == 'gif' -->
    <img width="116px" height="116px" data-bind="attr:{src:$data}" />
    <!-- /ko -->
    <!-- ko if: $data.split('.').pop() == 'xlsx' -->
    <span data-bind="text:$data.split('-').pop()"></span>
    <!-- /ko -->
    <!-- ko if: $data.split('.').pop() == 'pdf' -->
    <span data-bind="text:$data.split('-').pop()"></span>
    <!-- /ko -->
</div>

</script>




